<% if @book_not_found_message %>
    <p>キーワードに該当するページが見つかりません</p>
<% else %>
  <%# 検索結果の表示 %>
  <% @books.each do |book| %>
  <div class="title-author">
    <%= book.title %>
    <%= book.author %>
  </div>
  <% end %>
<% end %>