<% if @book_not_found_message %>
  <p>キーワードに該当するページが見つかりません</p>
  <div id="btn">?</div>
<% else %>
  <div class="sanplu">
  <% @books.each do |book| %>
  <div class="title-author">
    <%= link_to book.title, "/show/#{book.id}" %>
    <%= book.author %>
  </div>
  <% end %>
  </div>
  <button class="search-button">検索結果を見ない</button>
<% end %>

<script>
$('#btn').click(function(){
  var results = ["大吉", "中吉", "小ちき", "今日", "大漁", "good!", "リトライ"]
  var num = Math.floor(Math.random() * results.length);
  $(this).text(results[num]);
});
$('button').on('click', function(){
    $('.sanplu').toggle();
  if ($('.sanplu').toggle()){
    $('button').text("見るよ！");
    $('.sanplu').toggle();
  }
});
</script>
