// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content {
    /* headerの高さと同じにする */
    margin: 200px 0 0 150px;
}

.image_up {
    background-color: yellow;
}

.write-modal {
    cursor: pointer;
}