// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin box {
    box-shadow: 0 0 1px white;
}

.comment-form {
    background-color: white;
    .comment{
      width: 100%;
    }

.comment input {
    font-size: 16px;
}

}
.comment-del {
    font-size: 13px;
}